$hex--bg: #123;

$dec--a: 19;
$dec--b: 79;
$dec--c: 117;

$rgb--a: rgb($dec--c, $dec--a, $dec--b);
$rgb--b: rgb($dec--a, $dec--c, $dec--b);
$rgb--c: rgb($dec--b, $dec--a, $dec--c);
$rgb--d: rgb($dec--c, $dec--b, $dec--a);
$rgb--e: rgb($dec--b, $dec--c, $dec--a);
$rgb--f: rgb($dec--a, $dec--b, $dec--c);

$ONE_6TH: calc(1/6);

body {
  overflow: hidden;
}

/* LANDSCAPE */
.au-pg--home {
  font-family: monospace;
  width: 100vh;
  height: 100vh;
  font-size: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: $hex--bg;

  &:before {
    content: '';
    width: calc(100vw - 100vh);
    height: $(ONE_6TH)em;
    position: absolute;
    left: 100vh;
    background: $rgb--a;
    box-shadow: 0 $(ONE_6TH)em 0 0 $rgb--b,
      0 calc(2em * $ONE_6TH) 0 0 $rgb--c,
      0 calc(3em * $ONE_6TH) 0 0 $rgb--d,
      0 calc(4em * $ONE_6TH) 0 0 $rgb--e,
      0 calc(5em * $ONE_6TH) 0 0 $rgb--f;
  }
}

.au-pg__body {
  font-size: 1em;
}

.au-pg__soul {
  position: absolute;
  top: 0;
  left: 0;

  svg {
    position: absolute;
    top: 0;
    left: 1em;
    width: calc(100vw - 1em);
    height: $(ONE_6TH)em;
  }
  #au-svg--bio {
    top: $(ONE_6TH)em;
  }
}

.au-slider {
  &__label {
    display: block;
    color: #999;
  }

  &__input {
    padding: 1em 0.5em;
  }
}

@media only screen and (orientation: portrait) {
  .au-pg--home {
    width: 100vw;
    height: 100vw;
    font-size: 100vw;

    &:before {
      height: calc(100vh - 100vw);
      width: $(ONE_6TH)em;
      left: 0;
      top: 100vw;
      box-shadow: $(ONE_6TH)em 0 0 0 $rgb--b,
        calc(2em * $ONE_6TH) 0 0 0 $rgb--c,
        calc(3em * $ONE_6TH)  0 0 0 $rgb--d,
        calc(4em * $ONE_6TH) 0 0 0 $rgb--e,
        calc(5em * $ONE_6TH) 0 0 0 $rgb--f;
    }
  }

  .au-pg__soul {
    svg {
      top: 1em;
      left: $(ONE_6TH)em;
      width: calc(100vh - 1em);
      height: $(ONE_6TH)em;
      transform-origin: top left;
      transform: rotate(90deg);
    }
    #au-svg--bio {
      top: 1em;
      left: calc(2em * $ONE_6TH);
    }
  }
}
