{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "espower"
  ],
  "env": {
    "development": {
      "plugins": [
        ["cycle-hmr/xstream", {
          "include": "**/src/**.js",
          "proxy": {
            "debug": "info"
          }
        }]
      ]
    }
  }
}
