
.au-cube {
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  position: relative;
  transform-origin: center;
  transform-style: preserve-3d;
  overflow: hidden;
  user-select: none;
  cursor: crosshair;

  &:focus {
    outline: none;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 1em;
    font-weight: normal;
    font-family: monospace;
    font-size: 9px;
    color: white;

    pre {
      opacity: 0.2;

      &:hover {
        opacity: 0.6;
        cursor: none;
      }
    }
  }
}

.au-orb {
  font-family: sans-serif;
  left: 0.5em;
  top: 0.5em;
  width: 0;
  height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform-origin: 50% 50% 0;
  transform-style: preserve-3d;
  transform: translateY(0) translateX(0);

  &:focus {
    outline: none;
  }

  &__hemi {
    transform-style: preserve-3d;

    &.au-hemi--south {
      transform: rotateX(180deg);
    }
  }

  &__face {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;

    @for $i from 2 to 6 {
      &:nth-child($i) {
        transform: rotateZ(calc(60deg * ($i - 1)))
      }
    }
  }

  &__dot {
    position: absolute;
    color: transparent;
    background: white;
    font-size: calc(1em / 20);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform-origin: left;
    backface-visibility: hidden;
    opacity: 0.5;

    &:hover {
      background-color: red;
    }

    &:focus {
      box-shadow: 0 0 0.25em 0.25em #000;
      outline: none;
    }
  }
}
